<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/forms.css">
    <title>Cars</title>
</head>
<body>
    {{> nav}}
    <h1 style="text-align: center;">Колекція Cars</h1>
    <div class="wrapper">
        <form action="/cars" method="POST">
            <p>Додати автомобіль</p>
            <select name="branchId">
                {{#each branches}}
                <option value="{{this._id}}">{{this.city}} {{this.adress}}</option>
                {{/each}}
            </select>
            <input type="text" name="brand" placeholder="Марка">
            <input type="text" name="color" placeholder="Колір">
            <input  name="description" placeholder="Опис">
            <input type="text" name="cost" placeholder="Ціна">
            <label for="isActive">Доступність
                <input type="checkbox" name="isActive" placeholder="Доступність" id="isActive">
            </label>
            <button type="submit">Зберегти</button>
        </form>
        <form method="POST" id="updateForm">
            <p>Змінити автомобіль</p>
            <p id="carId"></p>
            <select name="branchId" id="updateSelect">
                {{#each branches}}
                <option class="updateOption" value="{{this._id}}">{{this.city}} {{this.adress}}</option>
                {{/each}}
            </select>
            <input type="text" id="updateBrand" name="brand" placeholder="Марка">
            <input type="text" id="updateColor" name="color" placeholder="Колір">
            <input  name="description" id="updateDescription" placeholder="Опис">
            <input type="text" id="updateCost" name="cost" placeholder="Ціна">
            <label for="isActive">Доступність
                <input type="checkbox" id="updateIsActive" name="isActive" placeholder="Доступність" id="updateIsActive">
            </label>
            <button id="updateButton" type="submit">Зберегти</button>
        </form>
    </div>
    <table style="width: 100%;">
        <tr>
            <th>ID</th>
            <th>branchId</th>
            <th>Марка</th>
            <th>Колір</th>
            <th>Опис</th>
            <th>Вартість</th>
            <th>Доступність</th>
            <th>Дії</th>
        </tr>
        {{#each cars}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.branchId}}</td>
                <td>{{this.brand}}</td>
                <td>{{this.color}}</td>
                <td>{{this.description}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.isActive}}</td>
                <td><button data-id="{{this._id}}" class="update">Змінити</button><button data-id="{{this._id}}" class="delete">Видалити</button></td>
            </tr>
        {{/each}}
    </table>
</body>
<script>
    document.querySelectorAll('.update').forEach(button => button.addEventListener('click', updateForm));
    document.querySelectorAll('.delete').forEach(button => button.addEventListener('click', deleteCar));
    function updateForm(e) {
        const carId = e.target.getAttribute('data-id');
        document.getElementById('updateIsActive').removeAttribute('checked');
        document.querySelectorAll('.updateOption').forEach(option => option.removeAttribute('selected'));
        document.getElementById('carId').innerHTML = carId;
        document.getElementById('updateButton').removeAttribute('disabled');
        document.getElementById('updateForm').setAttribute('action', `cars/${carId}`);
        fetch(`/cars/${carId}`, {method: 'GET'})
        .then(res => res.json())
        .then(car => {
            document.getElementById('updateBrand').setAttribute('value', car.brand);
            document.getElementById('updateColor').setAttribute('value', car.color);
            document.getElementById('updateDescription').setAttribute('value', car.description);
            document.getElementById('updateCost').setAttribute('value', car.cost);
            if(car.isActive) {
                document.getElementById('updateIsActive').setAttribute('checked', 'checked');
            }
            document.querySelectorAll('.updateOption')
            .forEach(option => option.getAttribute('value') === String(car.branchId) ? option.setAttribute('selected', 'selected') : console.log(option.getAttribute('value')));
        });
    }
    function deleteCar(e){
        let carId = e.target.getAttribute('data-id');
        fetch(`/cars/${carId}`, {method: 'DELETE'}).catch((e) => console.log(e));
        window.location = window.location.href; // update window
    }
</script>
</html>